.profile-card {
  background: #f1ebcc;
  border-radius: 30px;
  padding: 25px;
 
  box-shadow: 0 3px 15px rgba(0,0,0,0.06);
  text-align: center;
}

.profile-pic-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-pic-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #d15c1d;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.profile-pic-circle:hover {
  border-color: #f2a72d;
}

.profile-pic-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.profile-pic-circle:hover .pic-overlay {
  opacity: 1;
}

.pic-overlay img {
  width: 30px;
  filter: invert(1);
}

.user-info {
  text-align: center;
}

.username {
  font-size: 20px;
  color: #d15c1d;
  margin-bottom: 5px;
}

.phone {
  font-size: 14px;
  color: #a0bebf;
  margin-bottom: 15px;
}

.name-row,
.nickname-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 8px;
}

.name-row span,
.nickname-row span {
  font-size: 17px;
  color: #6b7f4f;
}

.nickname.placeholder {
  color: #6b7f4f;
  font-style: italic;
}

.edit-icon {
  width: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.edit-icon:hover {
  opacity: 1;
}

.toggles,
.toggle-nickname {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: #493c33;
  margin-bottom: 10px;
}

.edit-fields input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f2a72d;
  border-radius: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttons-row button {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button.cancel {
  background: #a0bebf;
  color: #493c33;
}

button.cancel:hover {
  background: #a0bebf; /* درجة غامقة بسيطة عند المرور */
}

button.save {
  background: #6b7f4f;
  color: #f1ebcc;
}

button.save:hover {
  background: #6b7f4f; /* درجة غامقة عند المرور */
}


.admin-profile-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

